---
layout: default
title: Staff
---
<h1>Staff</h1>
<ul>
{% for team in site.teams %}
  <li>
    <h2>{{ team.name }}</h2>
    <p>{{ team.content | markdownify }}</p>
    <h3>Team Members</h3>
    {% for role in team.roles %}
      {% assign role_members = site.team | where_exp: "member", "member.roles contains role" %}
      <ul>
        {% for member in role_members %}
          <li>
            <h2>{{ member.name }}</h2>
            <h3>{{ member.position }}</h3>
            <p>{{ member.content | markdownify }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </li>
{% endfor %}
</ul>
