---
layout: default
title: Staff
---
<h1>Staff</h1>

<ul>
  {% for member in site.team %}
    <li>
      <h2>{{ member.name }}</h2>
      <h3>{{ member.position }}</h3>
      <p>{{ member.content | markdownify }}</p>
    </li>
  {% endfor %}

  <hr>

  {% assign filtered_members = site.member | where: 'teams', 'management' %}
  {% for member in filtered_members %}
  <li>
	<h2>{{ member.name }}</h2>
	<h3>{{ member.position }}</h3>
	<p>{{ member.content | markdownify }}</p>
  </li>
{% endfor %}
</ul>