$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

html, body {
  margin: 0;
  height: 100%;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-size: 3em;

  small {
    color: lightblue
  }
}

.content {
  padding-left: 16px;
  padding-top: 8px;
  min-height: calc(100% - 79px);
}
