nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	min-width: fit-content;

	div {
		white-space: nowrap;

		> * {
			display: inline-block;
		}
	}

	a {
		padding: 20px 36px;
		display: inline-block;
		color: whitesmoke;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.2em;

		&:hover {
			background: rgba(30, 30, 30, 0.8);
		}

		> i {
			font-size: 10px;
			vertical-align: top;
			color: lightgray;
		}
	}

	background: rgb(24, 24, 24)
}
