#teams {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: strech;

	> article {
	  width: 30%;
	  display: inline-block;
	}

	.card {
		border: 1px black solid;
		margin: 8px;
		padding: 4px 4px 4px 8px;
		border-radius: 4px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

		h2 {
			margin-top: 0;
		}
	}
}

a {
	> i {
		color: rgba(0, 0, 0, 1)
	}

	&:hover > i {
		color: rgba(0, 0, 0, 0.8)
	}
}