---
---

@import "main";
@import "nav";
@import "team";
@import "gallery";

div.content {
	color: white;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#content-team {
	background-image: url("{{ '/assets/img/team.png' | relative_url }}");
}

#content-index {
	background-image: url("{{ '/assets/img/index.png' | relative_url }}");
}

#content-gallery {
	background-image: url("{{ '/assets/img/gallery.png' | relative_url }}");
}